---
layout: default
---

<h1 class="category">{{ page.title }}</h1>
<ul class="posts">
{% for post in site.categories[page.category] %}
<div class="post-excerpt">
 <h2><a class="text-primary" href="{{ post.url }}">{{ post.title }}</a></h2>
 <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }} • posted by {{ post.author }}</p>
 <p>{{ post.excerpt | strip_html }}</p>
{% if post.categories.size > 0 %}
 <p class="post-meta">Tags: {{ post.categories | category_links }}.</p>
 <ul>
{% for c in post.categories %}
  <li> {{c}} </li>
{% endfor %}
</ul>
{% endif %}
</div>
{% endfor %}
</ul>
