---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      {{ page.date | date: "%b %-d, %Y" }}
{% if page.author %}
        • posted by {{ page.author }}
{% endif %}
{% if page.meta %}
        • {{ page.meta }}
{% endif %}
{% if page.categories.size > 0 %}
        • Tags: {{ page.categories | category_links }}.
{% endif %}
</p>
  </header>

  <article class="post-content">
{{ content }}
  </article>
</div>
