---
layout: page-with-feed
title: Blog and Videos
---

{% for post in paginator.posts %}
<div class="post-excerpt">
 <h2><a class="text-primary" href="{{ post.url }}">{{ post.title }}</a></h2>
 <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }} • posted by {{ post.author }}</p>
 <p>{{ post.excerpt | strip_html }}</p>
{% if post.categories.size > 0 %}
 <p class="post-meta">Tags:
    {% for cat in post.categories %}
        {{ cat | xml_escape }}
    {% endfor %}
 </p>
{% endif %}
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<ul class="pagination text-center">
    {% if paginator.previous_page %}
        <li><a class="text-primary" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
        <li>
            {% if page == 1 %}
                <a class="text-primary" href="{{ '/blog/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            {% else %}
                <a class="text-primary" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
        </li>
    {% endfor %}

    {% if paginator.next_page %}
        <li><a class="text-primary" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
    {% endif %}
</ul>
{% endif %}
