{% extends "layout.html" %}
{% set title = _('Welcome') %}
{% block body %}
  <h1 style="text-align: center; margin: 2em 0 0.2em 0; text-weight: bold">Welcome to UBOS&trade;</h1>
  <h2 style="text-align: center; padding: 0; margin: 0; border: 0">The Linux distro for personal servers<br>
  and intelligent devices</h2>
  <p style="text-align: center; margin-bottom: 0.5em">&mdash; Status: alpha &mdash;</p>
  <div class="frontpage">
   <table style="width: 100%; border-collapse: separate; border-spacing: 5px; border: 0">
    <tr>
     <td colspan="2" style="width: 50%; padding-top: 20px; text-align: center; border: 1px solid #808080">
      <a href="{{ pathto("about") }}" style="text-decoration:none; box-shadow: none">
       <h3><span class="link">About UBOS</span></h3>
       <p>Start here.</p>
      </a>
     </td>
    </tr>
    <tr>
     <td style="width: 50%; padding-top: 20px; text-align: center; border: 1px solid #808080">
      <a href="{{ pathto("users/index") }}" style="text-decoration:none; box-shadow: none">
       <h3><span class="link">How to use UBOS</span></h3>
       <p>If you would like to easily run web<br>
          and internet-of-things apps<br>
          on hardware you own<br>
          (such as a spare x86 computer),<br>
          start here.</p>
      </a>
     </td>
     <td style="padding-top: 20px; text-align: center;  border: 1px solid #808080">
      <a href="{{ pathto("developers/index") }}" style="text-decoration:none; box-shadow: none">
       <h3><span class="link">How to develop for UBOS</span></h3>
       <p>If you are a developer<br>
          and would like to distribute your web<br>
          or internet-of-things apps to people<br>
          who want to run it on their own hardware,<br>
          start here.</p>
      </a>
     </td>
    </tr>
   </table>

   <p style="margin-top: 20px">Found errors, omissions, improvements? Submit pull requests
     <a href="https://github.com/indiebox/docs">in Github</a>.
{# or post to the
     <a href="https://groups.google.com/forum/#!forum/indie-box-dev">mailing list</a>.
#}
</p>
  </div>
{% endblock %}
