div.header-wrapper {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(#FFF, #EEE 50%, #E4E4E4);
  background-repeat: no-repeat;
  border: 1px solid #D5D5D5;
  filter: none;
}
