div.header-wrapper,
div.content-wrapper,
div.footer-wrapper {
    clear: both;
}
div.header,
div.content,
div.footer {
    width: $width;
    margin: 0 auto;
}
div.header-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
}
div.footer {
    margin-top: 40px;

    p {
        padding-top: 5px;
    }
}

div.header {
  position: relative;
  text-align: center;

  img {
    position: absolute;
    left: 0;
  }
  ul {
    margin: 0 auto;
  }
  li {
    display: inline;
    margin: auto $spacing-unit/2;
  }
}
div.content {
    min-height: 600px;
    margin-top: 60px;
}

div.feedicon {
    float: right;
}

p.post-meta {
    font-size: $small-font-size;
}

div.post-excerpt {
  margin-bottom: 30px;
  border-top: 2px solid #eee;

  h2 {
    margin-bottom: 0;
  }
}
