@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,700,500,300,100,900");
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', serif;
    color: black;
    background: #e0e0e0;
}
div.header, div.content, div.footer {
    width: 980px;
    margin: 0 auto;
}
div.header-wrapper {
    background: #585858;
    background: -webkit-linear-gradient(top, #585858, #3d3d3d);
    background: -moz-linear-gradient(top, #585858, #3d3d3d);
    background: -ms-linear-gradient(top, #585858, #3d3d3d);
    background: -o-linear-gradient(top, #585858, #3d3d3d);
}

a {
    color: inherit;
}
div.bodywrapper a,
.link {
    text-decoration: none;
    box-shadow: 0px -3px 0px #80b4e6 inset;
}

div.footer a {
    text-decoration: underline;
}
div.toctree-wrapper a {
    border: 0;
    box-shadow: none;
}
div.toctree-wrapper li.toctree-l1 {
    font-weight: 700;
}
div.toctree-wrapper li.toctree-l2 {
    margin: 6px 0;
}

a.headerlink {
    visibility: hidden;
    color: #a0a0a0;
    padding-left: .3em;
}
h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
    visibility: visible;
}

.clearer {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
.strike {
  text-decoration: line-through;
}

.line-block {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}
.line-block .line-block {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5em;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    color: #0066cc;
    margin-bottom: .8em;
}
h2 {
    padding-bottom: .5em;
    border-bottom: 1px solid #0066cc;
}

pre,
span.pre {
    font-family: Monaco, Courier, "Courier New";
    font-size: 12px;
}
span.pre {
    white-space:nowrap
}

img {
    border: 0;
}
div.body img {
    display: block;
    margin: 0 auto;
    border: 1px solid #d0d0d0;
    box-shadow: 0 0 6px #c0c0c0;
}

div.document p,
div.document li,
div.document td,
div.document dd {
    font-size: 16px;
    font-weight: 400;
}

div.document li > p.first {
    margin: 0;
}

em {
    font-weight: 700;
    font-style: normal;
}

div.admonition {
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #808080;
}

p.admonition-title {
    float: left;
    font-weight: bold !important;
}
p.admonition-title:after {
    content: ':';
    margin-right: 1ex;
}

div.admonition.warning p.admonition-title {
    color: red;
}

dt:target, .highlighted {
    background-color: #fbe54e;
}

div.header {
    padding: 10px 0;
}

div.header .headertitle {
    font-weight: 700;
    font-size: 100%;
    letter-spacing: .08em;
    padding: 0 32px;
    font-family: 'Roboto Slab', serif;
}

div.header .headertitle a {
    color: white;
}

div.header div.rel {
    margin-top: .6em;
    padding: 0 32px;
}

div.header div.rel a {
    color: white;
    letter-spacing: .1em;
    text-transform: uppercase;
}
p.logo {
    float: left;
    margin-left: 32px;
    margin-right: 10px;
}

/* Content */

div.document {
    float: left;
    width: 710px;
    padding: 0 2em 1em 2em;
    background: #ffffff;
    min-height: 600px;
}

div.body {
    text-align: left;
}

div.document h1 {
    line-height: 120%;
    margin-top: 30px;
}

div.document ul,
div.document ol {
    margin: 0.8em 1.5em;
}

div.document ul ul,
div.document ul ol,
div.document ol ul,
div.document ol ol {
    margin: 0.5em 1.5em;
}

div.document ul {
    list-style-type: disc;
}
div.document ul ul {
    list-style-type: circle;
}
div.document div.toctree-wrapper ul {
    list-style-type: none;
}
div.document div.toctree-wrapper ul ul {
    list-style-type: none;
}

div.document dd {
    margin-left: 1.2em;
    margin-top: .4em;
    margin-bottom: 1em;
}

div.document .section {
    margin-top: 1.7em;
}
div.document .section:first-child {
    margin-top: 0px;
}

div.document div.highlight {
  padding: 3px;
  background-color: #eeeeee;
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  margin-top: .8em;
  margin-bottom: .8em;
}

div.document h2 {
  margin-top: .7em;
}

div.document p,
div.document li {
  margin: .8em 0;
}

div.document li.toctree-l1 {
  margin-bottom: 1em;
}

div.document .descname {
  font-weight: bold;
}

div.document .docutils.literal {
  background-color: #eeeeec;
  padding: 1px;
}

div.document .docutils.xref.literal {
  background-color: transparent;
  padding: 0px;
}

div.document blockquote {
  margin: 1em;
}

div.document table {
    margin: 1em auto;
    border: 1px solid #a0a0a0;
    border-collapse: collapse;
}
div.document table caption {
    padding: 3px;
    background: #f0f0f0;
}
div.document table td,
div.document table th {
    border: 1px solid #a0a0a0;
    padding: 3px;
}
div.document table.indextable,
div.document table.indextable td,
div.document table.indextable th {
    border: 0;
}

/* Sidebar */

div.sidebar {
    width: 174px;
    float: right;
    padding: 2em 1em;
    box-shadow: 2px 2px 2px #c0c0c0;
}
div.sidebar > * {
    font-size: 12px;
}
div.sidebar a, div.header a {
    text-decoration: none;
}

div.sidebar a:hover, div.header a:hover {
    text-decoration: underline;
}

div.sidebar h3 {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
}

div.sidebar ul {
    list-style-type: none;
}

div.sidebar li.toctree-l1 a {
    display: block;
    padding: 1px;
    border: 1px solid #dddddd;
    background-color: #eeeeec;
    margin-bottom: .4em;
    padding-left: 3px;
    color: #2e3436;
}

div.sidebar li.toctree-l2 a {
    background-color: transparent;
    border: none;
    margin-left: 1em;
    border-bottom: 1px solid #dddddd;
}

div.sidebar li.toctree-l3 a {
    background-color: transparent;
    border: none;
    margin-left: 2em;
    border-bottom: 1px solid #dddddd;
}

div.sidebar li.toctree-l2:last-child a {
    border-bottom: none;
}

div.sidebar li.toctree-l1.current a {
    border: solid #0066cc;
    border-width: 1px 4px 1px 1px;
}

div.sidebar li.toctree-l1.current li.toctree-l2 a {
    border: solid #dddddd;
    border-width: 0 0 1px 0;
}

div.sidebar input[type="text"] {
    width: 130px;
}

/* Footer */

div.footer-wrapper {
    background: #585858;
    background: -webkit-linear-gradient(top, #585858, #3d3d3d);
    background: -moz-linear-gradient(top, #585858, #3d3d3d);
    background: -ms-linear-gradient(top, #585858, #3d3d3d);
    background: -o-linear-gradient(top, #585858, #3d3d3d);
    padding: 10px 0;
}

div.footer, div.footer a {
    color: #fff;
}

div.footer {
    padding-left: 32px;
    text-align: left;
    font-size: 10px;
}
dl.glossary dt {
    font-weight: bold;
}

div.frontpage {
    margin: 0 auto;
}

