@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,700,500,300,100,900");

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}
h1 {
    line-height: 1.1;
    font-size: 42px;
    margin-bottom: $spacing-unit * 0.7;
}
h2, h3, h4, h5, h6 {
    margin-top: $spacing-unit * 0.7;
    margin-bottom: $spacing-unit / 4;
}
p, blockquote, pre, ul, ol, dl, li, figure, %vertical-rhythm {
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
h3 {
    font-style: italic;
}
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

blockquote {
    margin: 0.25em 0;
    padding: 0.25em 40px;
    position: relative;
}
blockquote:before {
    font-family: Georgia;
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -5px;
    top: -20px;
    color: #7a7a7a;
}

pre, code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
table {
   border-collapse: collapse;
   margin: 20px 0;
}
td {
   padding: 2px 5px;
}

.clearer {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
.strike {
    text-decoration: line-through;
}


