div.header-wrapper {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(#FFF, #EEE 50%, #E4E4E4);
  background-repeat: no-repeat;
  border: 1px solid #D5D5D5;
  filter: none;
}
div.footer-wrapper {
  border-top: 1px solid #D5D5D5;
}


a.headerlink {
    visibility: hidden;
    padding-left: .3em;
}
h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
    visibility: visible;
}
em {
    font-style: normal;
}

div.admonition {
    margin: 10px 0px;
    padding: 10px 10px 0 10px;
    border: 1px solid #808080;
    border-radius: 10px;

  p.admonition-title {
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }
  p.admonition-title:after {
    content: ":"
  }
}
