div.header-wrapper,
div.content-wrapper,
div.footer-wrapper {
    clear: both;
}
div.header,
div.content,
div.footer {
    width: $width;
    margin: 0 auto;
}
div.header-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
}
div.footer-wrapper {
    margin-top: 30px;
    padding-top: 10px;

    p {
        padding-top: 5px;
    }
}

div.header {
  position: relative;
  text-align: center;

  img {
    position: absolute;
    left: 0;
  }
  ul {
    margin: 0 auto;
  }
  li {
    display: inline;
    margin: auto $spacing-unit/2;
  }
}
div.content {
    min-height: 500px;
    margin-top: 50px;
}
div.page {
    padding-top: 10px;
}
div.feedicon {
    float: right;
}

p.post-meta {
    font-size: $small-font-size;
    color: #808080;
}

div.post-excerpt {
  margin-bottom: 30px;
  border-top: 2px solid #eee;

  h2 {
    margin-bottom: 0;
  }
}
.sidenote {
  font-size: small;
}

div.sidebar {
    float: right;
    width: 200px;
    margin: 0 0 20px 20px;
    padding: 3px 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow:  0 0 2px 2px #ddd;

  * {
    font-size: 12px;
    text-decoration: none;
    line-height: 120%;
  }
  a:hover, div.header a:hover {
    background: #e0e0e0;
  }
  h3 {
    margin: 6px 0 10px 0;
    font-weight: 500;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-align: center;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 8px 0;
    padding: 0;
    list-style: none;
  }
  li.toctree-l2 {
    margin-left: 1em;
  }
  li.toctree-l3 {
    margin-left: 2em;
  }
  h3 > a,
  li > a {
    color: #404040;
  }
  li.current > a {
    font-weight: bold;
  }
}
div.section {
  li.toctree-l1 {
    list-style: circle inside;
    margin: 0;
    padding: 0 0 0 1em;
  }
  li.toctree-l2 {
    list-style: circle inside;
    margin: 0;
    padding: 0 0 0 1em;
  }
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 3em;
}
dl dl,
dl p {
    margin: 0;
}
h5 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.toctree-wrapper ul {
    margin: 0;
    padding: 0;
}
div.toctree-wrapper > ul > li > a {
    font-weight: bold;
}
div.toctree-wrapper li {
    list-style: none;
    margin: 0;
    padding: 0;
}
div.toctree-wrapper li li {
    margin: 0 0 0 2em;
}

table.docutils {
    width: 100%;
}
ul.pagination li {
    display: inline;
    margin: 0 10px;
    list-style: none;
}

iframe.youtube {
    width: 560px;
    height: 315px
}
img.align-center {
    /* sphinx generates this */
    display: block;
    margin: 10px auto;
}
